<div class="card">
    <div class="card-item" dir-paginate="item in usersCheckeds | filter:search | orderBy:'name' | itemsPerPage:5">
        <div class="flex-row justify-content-between align-items-center">
            <a href="#!usuario/{{ item.id }}" class="flex-col col-23 card-item-thumb">
                <img ng-src="{{ item.image }}" alt="Foto">
                <strong>{{ item.name }}</strong>
            </a>
            <div class="flex-col col-20">
                <span>{{ item.email }}</span>
            </div>
            <div class="flex-col col-20">
                <span>{{ item.number }}</span>
            </div>
            <div class="flex-col col-22">
                <span>{{ item.location }}</span>
            </div>
            <div class="flex-col">
                <div class="card-item-actions">
                    <a class="card-item-action delete" ng-click="userDelete(item.id)">
                        <svg class="icon-delete">
                            <use xlink:href="/assets/img/icons.svg#icon-delete" />
                        </svg>                    
                    </a>
                    <a class="card-item-action unchecked" ng-click="userUnchecked(item.id)">
                        <svg class="icon-all">
                            <use xlink:href="/assets/img/icons.svg#icon-all" />
                        </svg>                    
                    </a>
                </div>
            </div>
        </div>        
    </div>
</div>

<dir-pagination-controls></dir-pagination-controls>