<div class="modal-container">
    <a class="modal-close" onClick="history.go(-1)">
        <svg class="icon-back">
            <use xlink:href="/assets/img/icons.svg#icon-back" />
        </svg>                    
    </a>
    <div class="modal-content">
        <div class="modal-box">
            <div class="modal-thumb">
                <img ng-src="{{ user.image }}" alt="Perfil">
            </div>
            <div class="modal-infos">
                <p>{{ answer.text }}</p>
                <span><strong>{{ answer.value }}</strong></span>
            </div>
            <div class="modal-actions">
                <a class="modal-action active" title="Nome" ng-click="setDetail($event, 'name')">
                    <svg class="icon-perfil">
                        <use xlink:href="/assets/img/icons.svg#icon-perfil" />
                    </svg>                    
                </a>
                <a class="modal-action" title="Email" ng-click="setDetail($event, 'email')">
                    <svg class="icon-email">
                        <use xlink:href="/assets/img/icons.svg#icon-email" />
                    </svg>                    
                </a>
                <a class="modal-action" title="Data de nascimento" ng-click="setDetail($event, 'birth')">
                    <svg class="icon-calendar">
                        <use xlink:href="/assets/img/icons.svg#icon-calendar" />
                    </svg>                    
                </a>
                <a class="modal-action" title="Endereço" ng-click="setDetail($event, 'location')">
                    <svg class="icon-location">
                        <use xlink:href="/assets/img/icons.svg#icon-location" />
                    </svg>                    
                </a>
                <a class="modal-action" title="Número" ng-click="setDetail($event, 'number')">
                    <svg class="icon-tel">
                        <use xlink:href="/assets/img/icons.svg#icon-tel" />
                    </svg>                    
                </a>
                <a class="modal-action" title="Senha" ng-click="setDetail($event, 'password')">
                    <svg class="icon-key">
                        <use xlink:href="/assets/img/icons.svg#icon-key" />
                    </svg>                    
                </a>
            </div>
        </div>
    </div>
</div>