#menu-icon{
    z-index: 10;
    display: table;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    transition: 0.7s ease-in-out;
    cursor: pointer;
    span{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #FFF;
        border-radius: 10px;
        opacity: 1;
        top: 0;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1){
            top: 0px;
        }
        &:nth-child(2){
            top: 9px;
        }
        &:nth-child(3){
            top: 18px;
        }
    }
    &.open{
        span{
            &:nth-child(1){
                top: 8px;
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 8px;
                transform: rotate(-135deg);
            }
        }
    }
}