.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 0 0;
    padding: 0;
    list-style: none;
    li{
        margin: 0 1rem;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            padding: 0.5rem;
            border: 1px solid $color-secondary;
            border-radius: 0.5rem;
            background-color: #FFF;
            font-size: 1.6rem;
            color: $color-secondary;
            line-height: 1.6rem;
            text-decoration: none;
        }
        &.active{
            a{
                color: $color-primary;
                border-color: $color-primary;
            }
        }
        &.disabled{
            a{
                visibility: hidden;
            }
        }
        &:last-child,
        &:first-child{
            a{
                background-color: transparent;
                border: 0;
                border-radius: 0;
                background: url('#{$urlImg}icon-back.svg') no-repeat center;
                background-size: 1.5rem;
                text-indent: -999999px;
                overflow: hidden;
            }
        }
        &:last-child{
            transform: rotate(180deg);
        }
    }
}