header{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    background-color: $color-primary;
    box-shadow: 0px 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
    .visibility-desktop{
        display: flex;
    }
    svg.logo{
        width: 14rem;
        height: 5rem;
        max-width: 100%;
    }
    .button-menu{
        float: right;
    }
    .user-perfil{
        img{
            width: 5rem;
            max-width: 100%;
            border-radius: 100%;
        }
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 70rem;
        max-width: 100%;
        .input-text{
            height: 3.5rem;
            margin: 0;
            padding: 0 4.5rem;
            background: url('#{$urlImg}icon-search.svg') no-repeat center left 1rem;
            background-size: 2rem;
            background-color: #FFF;
            border: 0;
            border-radius: 5rem;
            font-size: 1.6rem;
            color: $color-primary;
            outline: 0;
            box-shadow: none;
            letter-spacing: 0.1rem;
            &::placeholder{
                opacity: 1;
                visibility: visible;
                font-size: 1.6rem;
                color: $color-primary;
            }
        }
    }

    @media(max-width: 1024px){
        .form{
            width: 50rem;
        }
    }

    @media(max-width: 767px){
        .form{
            width: 100%;
        }
        .flex-row{
            flex-wrap: wrap;
        }
        .flex-col{
            width: 50%;
            margin: 1rem 0;
            &:first-child{
                order: 1;
            }
            &:nth-child(2){
                order: 3;
            }
            &:nth-child(3){
                width: 100%;
                order: 4;
            }
            &:last-child{
                order: 2;
            }
        }
        .user-perfil{
            float: right;
        }
    }

    @media(max-width: 567px){
    }
}