*{
	box-sizing: border-box;
}
html, body{
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-family: $font-primary;
}
main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	padding: 12rem 4rem 4rem 22rem;
	background-color: #f9f9f9;
}
.visibility-desktop{
	display: block!important;
}
.visibility-mobile{
	display: none!important;
}
.flex-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 15px;
}
.flex-row{
	display: flex;
	margin: 0 -15px;
}
.flex-col{
	padding: 0 15px;
	&.col-23{
		width: 23%;
	}
	&.col-20{
		width: 20%;
	}
	&.col-22{
		width: 22%;
	}
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
.user-perfil{
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.card{
	display: flex;
	flex-direction: column;
	border-radius: 0.7rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
	.card-item{
		display: flex;
		flex-direction: column;
		padding: 1.5rem 3rem;
		background-color: #FFF;
		border-bottom: 3px solid rgba(0, 0, 0, 0.1);
		.flex-col{
			padding: 0 2rem;
		}
		.card-item-thumb{
			display: flex;
			align-items: center;
			font-size: 1.8rem;
			color: $color-primary;
			line-height: 1.8rem;
			text-decoration: none;
			transition: color 0.3s ease;
			img{
				width: 4rem;
				margin-right: 2rem;
				border-radius: 100%;
			}
		}
		span{
			display: block;
			width: 100%;
			font-size: 1.4rem;
			color: $color-secondary;
			line-height: 1.8rem;
			transition: color 0.3s ease;
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;			
		}
		.card-item-actions{
			display: flex;
			align-items: center;
			.card-item-action{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 3rem;
				height: 3rem;
				margin: 0 0.5rem;
				cursor: pointer;
				svg{
					width: 1.5rem;
					height: 1.5rem;
					fill: $color-secondary;
					transition: fill 0.3s ease;
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					margin-right: 0;
				}
				&.delete{
					&:hover{
						svg{
							fill: red;
						}
					}
				}
				&.unchecked{
					&:hover{
						svg{
							fill: blue;
						}
					}
				}
				&.checke{
					&:hover{
						svg{
							fill: green;
						}
					}
				}
			}
		}
		&:hover{
			.card-item-thumb{
				color: $color-tertiary;				
			}
			span{
				color: $color-primary;				
			}
			.card-item-actions{
				.card-item-action{
					svg{
						fill: $color-primary;
					}
				}
			}
		}
		&:first-child{
			border-top-left-radius: 0.7rem;
			border-top-right-radius: 0.7rem;
		}
		&:last-child{
			border-bottom-left-radius: 0.7rem;
			border-bottom-right-radius: 0.7rem;
			border-bottom: 0;
		}
	}
}

@media(max-width: 1400px){
	html{
		font-size: 10px;
	}
}

@media(max-width: 991px){
	html{
		font-size: 8px;
	}
}

@media(max-width: 767px){
	.visibility-desktop{
		display: none!important;
	}
    .visibility-mobile{
		display: block!important;
	}
	main{
		padding: 19rem 15px 4rem 15px;
	}
	.card{
		max-width: 42rem;
		margin: 0 auto;
		.card-item > .flex-row{
			flex-direction: column;
			.flex-col{
				display: flex;
				justify-content: center;
				width: 100%;
				margin: 1rem 0;
				text-align: center;
			}
		}
		.card-item{
			.card-item-thumb{
				font-size: 2.5rem;
				line-height: 3rem;
				img{
					width: 6rem;
				}
			}
			span{
				font-size: 1.8rem;
				line-height: 2.2rem;
			}
			.card-item-actions{
				.card-item-action{
					width: 4rem;
					height: 4rem;
					margin: 0 1rem;
					svg{
						width: 2.5rem;
						height: 2.5rem;
					}
				}
			}
		}
	}
}

@media(max-width: 567px){
	html{
		font-size: 7px;
	}
}