.menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 7rem;
    background-color: #FFF;
    box-shadow: 0.4rem 0 0.8rem rgba(0, 0, 0, 0.1);
    transition: left 0.5s ease;
    .opacity{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none!important;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .user-perfil{
        img{
            width: 20rem;
        }
    }
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 3rem 2rem;
        a{
            display: flex;
            align-items: center;
            padding: 1rem 0;
            font-size: 1.8rem;
            color: $color-secondary;
            line-height: 1.8rem;
            letter-spacing: 0.1rem;
            text-decoration: none;
            transition: color 0.3s ease;
            svg{
                width: 2rem;
                height: 2rem;
                margin-right: 2rem;
                fill: $color-secondary;
                transition: fill 0.3s ease;
            }
            &:hover{
                color: $color-primary;
                svg{
                    fill: $color-primary;
                }
            }
            &.active{
                color: $color-tertiary;
                svg{
                    fill: $color-tertiary;
                }
            }
        }
    }

    @media(max-width: 767px){
        left: -180px;
        padding-top: 15rem;
        &.open{
            left: 0;
            .opacity{
                display: block!important;
            }
        }
    }
}