.modal-container{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #FFF;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background-color: $color-primary;
    }
    .modal-close{
        position: absolute;
        top: 3rem;
        left: 3rem;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: #FFF;
        border-radius: 100%;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
        cursor: pointer;
        svg{
            width: 1.5rem;
            fill: $color-primary;
        }
    }
    .modal-content{
        position: relative;
        width: 100%;
        max-width: 70rem;
        padding: 2rem 2rem 5rem 2rem;
        background-color: #FFF;
        border-radius: 0.7rem;
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 30%;
            background-color: lighten($color-secondary, 20%);
            border-top-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
            border-bottom: 2px solid lighten($color-secondary, 10%);;
        }
        .modal-box{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            .modal-thumb{
                display: flex;
                flex-direction: column;
                width: 20rem;
                height: 20rem;
                padding: 0.3rem;
                margin-bottom: 3rem;
                border: 2px solid lighten($color-secondary, 5%);;
                border-radius: 100%;
                background-color: #FFF;
                img{
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .modal-infos{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
                p{
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                    font-size: 1.6rem;
                    color: $color-secondary;
                    line-height: 2rem;
                }
                span{
                    font-size: 2.2rem;
                    color: $color-primary;
                    line-height: 2.6rem;
                }
            }
            .modal-actions{
                display: flex;
                align-items: center;
                .modal-action{
                    display: flex;
                    flex-direction: column;
                    margin: 1.5rem;
                    cursor: pointer;
                    svg{
                        width: 2.5rem;
                        height: 2.5rem;
                        fill: $color-secondary;
                        transition: fill 0.3s ease;
                    }
                    &:hover{
                        svg{
                            fill: $color-primary;
                        }
                    }
                    &.active{
                        svg{
                            fill: $color-tertiary;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 567px){
        .modal-close{
            left: 15px;
        }
    }
}