<header>
    <div class="flex-container">
        <div class="flex-row align-items-center justify-content-between">
            <div class="flex-col">
                <a href="#" title="Desafio Frontend!">
                    <svg class="logo">
                        <use xlink:href="/assets/img/icons.svg#logo" />
                    </svg>                    
                </a>
            </div>
            <div class="flex-col visibility-mobile">
                <a id="menu-icon" class="button-menu" ng-class="{open : menuShow}" ng-click="menuStatus();">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="flex-col">
                <form class="form" id="form-search" ng-submit="searchAction();">
                    <input type="text" class="input-text icon-search" id="input-search" name="input-search" placeholder="Buscar">
                </form>
            </div>
            <div class="flex-col visibility-desktop">
                <a class="user-perfil">
                    <img ng-src="{{ imagePerfil }}" alt="Perfil">
                </a>
            </div>
        </div>
    </div>
</header>