<div class="menu" ng-class="{open : menuShow}">
    
    <div class="opacity visibility-mobile" ng-class="{open : menuShow}" ng-click="menuStatus();"></div>
    
    <a class="user-perfil visibility-mobile">
        <img ng-src="{{ imagePerfil }}" alt="Perfil">
    </a>
    <nav>
        <a href="/" ng-class="{ 'active' : pageCurrent == '/' }" ng-click="menuStatus();">
            <svg class="icon-all">
                <use xlink:href="/assets/img/icons.svg#icon-all" />
            </svg>                    
            Todos
        </a>
        <a href="#!visualizados" ng-class="{ 'active' : pageCurrent == '/visualizados' }" ng-click="menuStatus();">
            <svg class="icon-checked">
                <use xlink:href="/assets/img/icons.svg#icon-checked" />
            </svg>                    
            Atendidos
        </a>
        <a href="#!deletados" ng-class="{ 'active' : pageCurrent == '/deletados' }" ng-click="menuStatus();">
            <svg class="icon-delete">
                <use xlink:href="/assets/img/icons.svg#icon-delete" />
            </svg>                    
            Lixeira
        </a>
    </nav>
</div>